In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Preparing the data

In [2]:
df04 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202004-divvy-tripdata.csv')
df05 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202005-divvy-tripdata.csv')

In [3]:
df07 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202007-divvy-tripdata.csv')
df07['started_at'] = pd.to_datetime(df07['started_at'], dayfirst = True)
df07['ended_at'] = pd.to_datetime(df07['ended_at'], dayfirst = True)

In [4]:
df08 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202008-divvy-tripdata.csv')
df08['started_at'] = pd.to_datetime(df08['started_at'], dayfirst = True)
df08['ended_at'] = pd.to_datetime(df08['ended_at'], dayfirst = True)

In [5]:
df09 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202009-divvy-tripdata.csv')
df09['started_at'] = pd.to_datetime(df09['started_at'], dayfirst = True)
df09['ended_at'] = pd.to_datetime(df09['ended_at'], dayfirst = True)

In [6]:
df10 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202010-divvy-tripdata.csv')
df10['started_at'] = pd.to_datetime(df10['started_at'], dayfirst = True)
df10['ended_at'] = pd.to_datetime(df10['ended_at'], dayfirst = True)

In [7]:
df11 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202011-divvy-tripdata.csv')
df11['started_at'] = pd.to_datetime(df11['started_at'], dayfirst = True)
df11['ended_at'] = pd.to_datetime(df11['ended_at'], dayfirst = True)

In [8]:
df12 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202012-divvy-tripdata.csv')
df12['started_at'] = pd.to_datetime(df12['started_at'], dayfirst = True)
df12['ended_at'] = pd.to_datetime(df12['ended_at'], dayfirst = True)

In [9]:
df06 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202006-divvy-tripdata.csv')
df06['started_at'] = pd.to_datetime(df06['started_at'], dayfirst = True)
df06['ended_at'] = pd.to_datetime(df06['ended_at'], dayfirst = True)

In [10]:
df04 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202004-divvy-tripdata.csv')
df04['started_at'] = pd.to_datetime(df04['started_at'], dayfirst = True)
df04['ended_at'] = pd.to_datetime(df04['ended_at'], dayfirst = True)

df05 = pd.read_csv(r'H:\Fouzan\Coursera\Google Data Project\Zipped\Extracted Files\CSV Files\202005-divvy-tripdata.csv')
df05['started_at'] = pd.to_datetime(df05['started_at'], dayfirst = True)
df05['ended_at'] = pd.to_datetime(df05['ended_at'], dayfirst = True)

In [11]:
dfm = pd.concat([df04, df05, df06, df07, df08, df09, df10, df11, df12])
dfm

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.890200,-87.626200,41.969500,-87.654700,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131568,4631EE956BCEA738,classic_bike,2020-12-19 13:59:00,2020-12-19 14:03:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,casual
131569,D17CBEDEA8DBDFF6,electric_bike,2020-12-20 15:48:00,2020-12-20 15:52:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member
131570,447A6C67E9AF962E,docked_bike,2020-12-02 16:59:00,2020-12-02 17:08:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member
131571,F558C17E95751C62,electric_bike,2020-12-20 18:06:00,2020-12-20 18:09:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member
131572,E1888F4B274EEA12,electric_bike,2020-12-03 09:43:00,2020-12-03 09:47:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member

In [12]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3114796 entries, 0 to 131572
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: datetime64[ns](2), float64(4), object(7)
memory usage: 332.7+ MB

In [13]:
dfm['Month'] = dfm['started_at'].dt.month
dfm['Month'].unique()

array([ 4,  5,  6,  7,  8,  9, 10, 11, 12], dtype=int64)

In [14]:
dfm.to_csv('year2020.csv')

Now we will prepare the dataframe according to our requirements

We will do the following changes:
1. Make a duration column.
2. Extract month as a numeric value.
3. Extract day of week as numeric value.

In [15]:
dfm['week'] = dfm['started_at'].dt.dayofweek
dfm['duration'] = (dfm['ended_at'] - dfm['started_at'])
dfm

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
0,A847FADBBC638E45,docked_bike,2020-04-26 17:45:14,2020-04-26 18:12:03,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member,4,6,0 days 00:26:49
1,5405B80E996FF60D,docked_bike,2020-04-17 17:08:54,2020-04-17 17:17:03,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member,4,4,0 days 00:08:09
2,5DD24A79A4E006F4,docked_bike,2020-04-01 17:54:13,2020-04-01 18:08:36,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member,4,2,0 days 00:14:23
3,2A59BBDF5CDBA725,docked_bike,2020-04-07 12:50:19,2020-04-07 13:02:31,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member,4,1,0 days 00:12:12
4,27AD306C119C6158,docked_bike,2020-04-18 10:22:59,2020-04-18 11:15:54,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.890200,-87.626200,41.969500,-87.654700,casual,4,5,0 days 00:52:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131568,4631EE956BCEA738,classic_bike,2020-12-19 13:59:00,2020-12-19 14:03:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,casual,12,5,0 days 00:04:00
131569,D17CBEDEA8DBDFF6,electric_bike,2020-12-20 15:48:00,2020-12-20 15:52:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
131570,447A6C67E9AF962E,docked_bike,2020-12-02 16:59:00,2020-12-02 17:08:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
131571,F558C17E95751C62,electric_bike,2020-12-20 18:06:00,2020-12-20 18:09:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
131572,E1888F4B274EEA12,electric_bike,2020-12-03 09:43:00,2020-12-03 09:47:00,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

In [16]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3114796 entries, 0 to 131572
Data columns (total 16 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          datetime64[ns]
 3   ended_at            datetime64[ns]
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
 13  Month               int64
 14  week                int64
 15  duration            timedelta64[ns]
dtypes: datetime64[ns](2), float64(4), int64(2), object(7), timedelta64[ns](1)
memory usage: 404.0+ MB

In [17]:
#saving original df
df = dfm

dropping the columns ride_id, started_at, ended_at

In [18]:
df = df.drop(['ride_id','started_at','ended_at'],axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3114796 entries, 0 to 131572
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   rideable_type       object
 1   start_station_name  object
 2   start_station_id    object
 3   end_station_name    object
 4   end_station_id      object
 5   start_lat           float64
 6   start_lng           float64
 7   end_lat             float64
 8   end_lng             float64
 9   member_casual       object
 10  Month               int64
 11  week                int64
 12  duration            timedelta64[ns]
dtypes: float64(4), int64(2), object(6), timedelta64[ns](1)
memory usage: 332.7+ MB

In [19]:
df.shape

(3114796, 13)

making seperate dfs for annual members and casual members

In [20]:
dfmm = df.loc[(df['member_casual'] == 'member')]
dfmm

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
0,docked_bike,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member,4,6,0 days 00:26:49
1,docked_bike,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member,4,4,0 days 00:08:09
2,docked_bike,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member,4,2,0 days 00:14:23
3,docked_bike,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member,4,1,0 days 00:12:12
5,docked_bike,Mies van der Rohe Way & Chicago Ave,173,Streeter Dr & Grand Ave,35,41.896900,-87.621700,41.892300,-87.612000,member,4,3,0 days 00:05:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131567,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,0,0 days 00:06:00
131569,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
131570,docked_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
131571,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
131572,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

In [21]:
dfc = df.loc[(df['member_casual'] == 'casual')]
dfc

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
4,docked_bike,Rush St & Hubbard St,125,Sheridan Rd & Lawrence Ave,323,41.890200,-87.626200,41.969500,-87.654700,casual,4,5,0 days 00:52:55
7,docked_bike,Ogden Ave & Roosevelt Rd,434,Western Ave & Congress Pkwy,382,41.866500,-87.684700,41.874700,-87.686400,casual,4,1,0 days 01:15:49
8,docked_bike,LaSalle Dr & Huron St,627,Larrabee St & Division St,359,41.894900,-87.632300,41.903500,-87.643400,casual,4,2,0 days 00:05:44
17,docked_bike,Leavitt St & Archer Ave,9,Leavitt St & Archer Ave,9,41.828800,-87.680600,41.828800,-87.680600,casual,4,5,0 days 00:08:13
18,docked_bike,Clark St & Lincoln Ave,141,Southport Ave & Wrightwood Ave,190,41.915700,-87.634600,41.928800,-87.663900,casual,4,5,0 days 00:15:55
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131561,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,casual,12,6,0 days 00:04:00
131562,electric_bike,Bissell St & Armitage Ave,13059,California Ave & Altgeld St,15646,41.918508,-87.652184,41.926650,-87.697703,casual,12,2,0 days 00:22:00
131563,classic_bike,Sheffield Ave & Webster Ave,TA1309000033,California Ave & Altgeld St,15646,41.921540,-87.653818,41.926690,-87.697668,casual,12,5,0 days 00:23:00
131564,electric_bike,Sheffield Ave & Webster Ave,TA1309000033,California Ave & Altgeld St,15646,41.921759,-87.653871,41.926658,-87.697710,casual,12,4,0 days 00:20:00
131568,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,casual,12,5,0 days 00:04:00

we will do EDA on dfmm and then try to predict for dfc

In [22]:
dfmm.isnull().sum()

rideable_type             0
start_station_name    56418
start_station_id      56690
end_station_name      61743
end_station_id        61954
start_lat                 0
start_lng                 0
end_lat                2257
end_lng                2257
member_casual             0
Month                     0
week                      0
duration                  0
dtype: int64

the columns for which all rows have null values, we will delete those

In [26]:
dfmm.to_csv('dfmm.csv')
dfc.to_csv('dfc.csv')

In [27]:
dfmm

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
0,docked_bike,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member,4,6,0 days 00:26:49
1,docked_bike,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member,4,4,0 days 00:08:09
2,docked_bike,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member,4,2,0 days 00:14:23
3,docked_bike,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member,4,1,0 days 00:12:12
5,docked_bike,Mies van der Rohe Way & Chicago Ave,173,Streeter Dr & Grand Ave,35,41.896900,-87.621700,41.892300,-87.612000,member,4,3,0 days 00:05:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131567,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,0,0 days 00:06:00
131569,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
131570,docked_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
131571,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
131572,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

filling wrong values with right ones

In [28]:
dfmm.loc[(dfmm['end_station_id'] == 'TA1308000036')]

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
6273,electric_bike,State St & 35th St,TA1307000129,Indiana Ave & 31st St,TA1308000036,41.831072,-87.627051,41.838764,-87.621922,member,12,3,0 days 00:09:00
6274,classic_bike,State St & 35th St,TA1307000129,Indiana Ave & 31st St,TA1308000036,41.831036,-87.626798,41.838842,-87.621857,member,12,1,0 days 00:06:00
6275,electric_bike,State St & 35th St,TA1307000129,Indiana Ave & 31st St,TA1308000036,41.831090,-87.627025,41.838746,-87.621893,member,12,5,0 days 00:04:00
6276,electric_bike,State St & 35th St,TA1307000129,Indiana Ave & 31st St,TA1308000036,41.831090,-87.627001,41.838765,-87.621851,member,12,4,0 days 00:04:00
6290,classic_bike,State St & 35th St,TA1307000129,Indiana Ave & 31st St,TA1308000036,41.831036,-87.626798,41.838842,-87.621857,member,12,3,0 days 00:09:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131567,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,0,0 days 00:06:00
131569,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
131570,docked_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
131571,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
131572,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

In [31]:
dfmm.loc[(dfmm['end_station_name'] == 'Indiana Ave & 31st St')]

,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
3091,docked_bike,Indiana Ave & 31st St,272,Indiana Ave & 31st St,272,41.838800,-87.621900,41.838800,-87.621900,member,4,6,0 days 00:36:02
3092,docked_bike,Indiana Ave & 31st St,272,Indiana Ave & 31st St,272,41.838800,-87.621900,41.838800,-87.621900,member,4,0,0 days 00:20:21
3381,docked_bike,Indiana Ave & 31st St,272,Indiana Ave & 31st St,272,41.838800,-87.621900,41.838800,-87.621900,member,4,1,0 days 00:25:35
3431,docked_bike,State St & 29th St,193,Indiana Ave & 31st St,272,41.841700,-87.626900,41.838800,-87.621900,member,4,6,0 days 00:18:09
3553,docked_bike,Indiana Ave & 31st St,272,Indiana Ave & 31st St,272,41.838800,-87.621900,41.838800,-87.621900,member,4,1,0 days 00:27:01
...,...,...,...,...,...,...,...,...,...,...,...,...,...
131567,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,0,0 days 00:06:00
131569,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
131570,docked_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
131571,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
131572,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

In [34]:
#replacing cell value

#dfmm.loc[(dfmm['start_station_id'] == 'TA1308000036'), 'start_station_id'] = 272
#dfmm.loc[(dfmm['end_station_id'] == 'TA1308000036'), 'end_station_id'] = 272

C:\Users\fouza\anaconda3\lib\site-packages\pandas\core\indexing.py:1765: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [79]:
df10['start_station_name'].nunique()

669

In [88]:
#dfmm.loc[(dfmm['start_station_id'].str)]

,Unnamed: 0,rideable_type,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,Month,week,duration
0,0,docked_bike,Eckhart Park,86,Lincoln Ave & Diversey Pkwy,152,41.896400,-87.661000,41.932200,-87.658600,member,4,6,0 days 00:26:49
1,1,docked_bike,Drake Ave & Fullerton Ave,503,Kosciuszko Park,499,41.924400,-87.715400,41.930600,-87.723800,member,4,4,0 days 00:08:09
2,2,docked_bike,McClurg Ct & Erie St,142,Indiana Ave & Roosevelt Rd,255,41.894500,-87.617900,41.867900,-87.623000,member,4,2,0 days 00:14:23
3,3,docked_bike,California Ave & Division St,216,Wood St & Augusta Blvd,657,41.903000,-87.697500,41.899200,-87.672200,member,4,1,0 days 00:12:12
4,5,docked_bike,Mies van der Rohe Way & Chicago Ave,173,Streeter Dr & Grand Ave,35,41.896900,-87.621700,41.892300,-87.612000,member,4,3,0 days 00:05:24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1796696,131567,classic_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,0,0 days 00:06:00
1796697,131569,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836723,-87.613365,41.838723,-87.621854,member,12,6,0 days 00:04:00
1796698,131570,docked_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836208,-87.613533,41.838842,-87.621857,member,12,2,0 days 00:09:00
1796699,131571,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836734,-87.613394,41.838749,-87.621862,member,12,6,0 days 00:03:00
1796700,131572,electric_bike,Rhodes Ave & 32nd St,13215,Indiana Ave & 31st St,TA1308000036,41.836766,-87.613366,41.838681,-87.621854,member,12,3,0 days 00:04:00

In [91]:
#dfmm[dfmm['end_station_id'].apply(len) > 3]

TypeError: object of type 'float' has no len()

In [98]:
dfmm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1796701 entries, 0 to 1796700
Data columns (total 14 columns):
 #   Column              Dtype
---  ------              -----
 0   Unnamed: 0          int64
 1   rideable_type       object
 2   start_station_name  object
 3   start_station_id    object
 4   end_station_name    object
 5   end_station_id      object
 6   start_lat           float64
 7   start_lng           float64
 8   end_lat             float64
 9   end_lng             float64
 10  member_casual       object
 11  Month               int64
 12  week                int64
 13  duration            object
dtypes: float64(4), int64(3), object(7)
memory usage: 191.9+ MB

In [100]:
#dfmm['start_station_id'].apply(str)

0             86
1            503
2            142
3            216
4            173
           ...
1796696    13215
1796697    13215
1796698    13215
1796699    13215
1796700    13215
Name: start_station_id, Length: 1796701, dtype: object

In [101]:
#dfmm[dfmm['start_station_id'].apply(len) > 3]

TypeError: object of type 'int' has no len()